<header>
  <div class="header">
    <img src="../assets/Images/header img.png" alt="" />
    <div class="navbar">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <!-- <a routerLink="about" routerLinkActive="active">About</a> -->
      <div class="dropdown">
        <a routerLink="/service" routerLinkActive="active">
          Service
        </a>
        <div class="dropdown-content">
          <a routerLink="/service/engineer" routerLinkActive="active">Engineering</a>
          <a routerLink="/service/arts"routerLinkActive="active">Arts & Science </a>
          <a routerLink="/service/medical"routerLinkActive="active">Medical</a>
          <a routerLink="/service/agri" routerLinkActive="active">Agriculture</a>
        </div>
      </div>
      <a routerLink="/contactUs" routerLinkActive="active">Contact</a>
      <!-- <a routerLink="/myaccount" style="cursor: pointer;" *ngIf="success" routerLinkActive="active"> Account</a> -->

    </div>
    <div class="logout">
      <a routerLink="/login" routerLinkActive="active" (click)="service.login()" *ngIf="!success">
        Login
        <i class="fa-solid fa-right-to-bracket"></i>
      </a>
      <div class="dropdown">
          <a style="cursor: pointer;"  (click)="drop()" *ngIf="success"> {{getDetails.firstname}}<i class="fa-solid fa-angle-down"  ></i></a>
      </div>

    </div>


  </div>

</header>
<dialog class="drop">
  <button  (click)="closedrop()" ><i class="fa-solid fa-x" ></i></button>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/myaccount" routerLinkActive="active">Account</a>
    <a routerLink="/loanstatus" routerLinkActive="active">Loan status</a>
    <a routerLink="/service/agri" routerLinkActive="active" (click)="logout()" >logout</a>
  </dialog>
