<footer>
  <div class="footer">
    <div class="foot-about">
      <h2>About</h2>
      <br>
      <p>
      <b>ELMS</b>  provide the good UI <br> and user friendly loan access...!
      <br>
      <br>
      ELMS(India) Pvt. Ltd. <br>
      1/D-1, SIPCOT IT PARK <br>
      Siruseri, Chennai - 603 103 <br>
      Tamil Nadu, India <br>
      Fax: +91-44-6740 4234
      </p>
    </div>
    <div class="foot-links">
      <h2>Quick Links</h2>
      <div class="links">
        <i class="fa-solid fa-arrow-right"><a routerLink="home">Home</a></i>
        <i class="fa-solid fa-arrow-right"><a routerLink="service">Service</a></i>
        <i class="fa-solid fa-arrow-right"><a routerLink="contactUs">Contact</a></i>
        <i class="fa-solid fa-arrow-right"><a routerLink="login">Login</a></i>
      </div>
    </div>
    <div class="foot-services">
      <h2>Services</h2>
      <div class="links">
        <i class="fa-solid fa-arrow-right"> <a [routerLink]="'/engineer'">Engineering</a></i>
        <i class="fa-solid fa-arrow-right"><a [routerLink]="'/arts'">Arts</a></i>
        <i class="fa-solid fa-arrow-right"> <a [routerLink]="'/medical'">Medical</a></i>
        <i class="fa-solid fa-arrow-right"><a [routerLink]="'/agri'">Agriculture</a></i>
      </div>
    </div>
    <div class="foot-media">
      <h2>Social Links</h2>
      <a href="#"><img src="../../assets/Images/facebook (1).png" alt="" width="35px"/></a>
    <a href="#"><img src="../../assets/Images/instagram.png" alt="" width="35px" /></a>
    <a href="#"><img src="../../assets/Images/email.png" alt="" width="35px"/></a>
    </div>
  </div>
  <div class="copyRight">
    <i class="fa-regular fa-2x fa-copyright"></i>
    <p> <b>Copyrights @2023 | ELMS</b> </p>
  </div>
</footer>
