<app-adminHeader></app-adminHeader>


{{getDetails|json}}
<br>
  <div class="searchBar">
    <div class="search">
      <!-- <p>Enter the Name :</p> -->
      <input type="search" name="" id="" placeholder="Enter name">
      <button>Search</button>
    </div>
    <div class="title">
      <h1>User Details</h1>
    </div>
    <div class="search">
      <!-- <p>Enter the PhoneNo :</p> -->
      <input type="search" name="" id="" placeholder="Enter phoneno">
      <button>Search</button>
    </div>

  </div>
  <table>
    <thead>
      <tr>
        <th>Reg no</th>
        <th>User Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Loan Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <!-- <th>Bank account</th> -->
        <th>Delete account</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of details">
        <td>{{detail.id}}</td>
        <td>{{detail.firstname}}</td>
        <td>{{detail.Phoneno}}</td>
        <td>{{detail.email}}</td>
        <td>{{detail.password}}</td>
        <td>{{detail.address}}</td>
        <td> <button id="loanStatus" (click)="loanstatus(detail)" ><a >View</a></button></td>
        <!-- <td><button ><a routerLink="/account">View</a></button></td> -->
        <td><button id="delete" (click)="delete(detail)">Delete</button></td>
      </tr>
    </tbody>
  </table>

{{a|json}}
