 <app-header></app-header>
 <br>
 <br>
 <!-- {{getDetails|json}} -->
 <div class="getLoan">
  <h1>Who are all get loan..?</h1>
  <p>Banking is necessary, banks are not.  .  .</p>
</div>
<div class="details">
  <div class="engDetails">
    <h2>Engineering</h2>
    <p>For engineering studies in India, most banks offer loans up to Rs. 4 lakh at a nominal interest rate. If the
      individual has obtained admission to an engineering college under management quota, certain banks may consider
      offering a loan based on the merit status of the student.</p>
      <button [routerLink]="'/service/engineer'" >Apply now</button>
  </div>
  <div class="engDetails">
    <h2>Arts&Science</h2>
    <p>
      A liberal arts and sciences education emphasizes a well-rounded course of study in the humanities and natural,
      mathematical and social sciences that aims to impart a broad general knowledge and develop intellectual capacities
      adaptable for numerous work...</p>
      <button [routerLink]="'/service/arts'">Apply now</button>
  </div>
  <div class="engDetails">
    <h2>Medical course</h2>
    <p>“Study hard until you can say “I am a doctor” everything is gonna be alright.” “Behind every fine doctor, there
      is always a nurse.” “Study to save lives.” “Only the healing art enables one to make a name for himself and at the
      same time give benefit to others.”</p> <br>
      <button [routerLink]="'/service/medical'">Apply now</button>
  </div>
  <div class="engDetails">
    <h2>Agriculture</h2>
    <p>"Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals &
      happiness." "The farmer has to be an optimist or he wouldn't still be a farmer." "A good farmer is nothing more
      nor less than a handy man with a sense of humus."</p>
      <button [routerLink]="'/service/agri'">Apply now</button>
  </div>
</div>

<div class="serviceDetails">
  <h1>This loan services provide...!!!  </h1>
  <div class="easyAccess">
    <img src="../../assets/Images/easy get (1).png" alt="" width="240px">
    <p>This  education loan is very easy to get in simple way...In this application provide easy user access </p>
  </div>
  <div class="queue">
    <img src="../../assets/Images/queue.png" alt="" width="150px">
    <p> Must not need to stand in queue</p>
  </div>
  <div class="saveTime">
    <img src="../../assets/Images/save time.png" alt="" width="150px">
    <p> person can avoid travel expensions.., and saves time.. </p> <br>
  </div>
</div>
<app-footer></app-footer>
