.loginDiv {
  height: 100%;
  width: 100%;
}

.loginmodel {
  display: flex;
  margin: 6% 40%;
  padding: 3%;
  width: fit-content;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.75);
}

/* Add @media query for smaller screen sizes */
@media (max-width: 768px) {
  .loginmodel {
    margin: 6% 10%;
    width: auto;
  }
}

::placeholder {
  font-family: 'Times New Roman', Times, serif;
}

.loginusername {
  margin-top: 10%;
  display: flex;
}

.head-content {
  margin-left: 20%;
}

.exit {
  float: right;
}

.exit:hover {
  color: red;
  padding: 1%;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid black;
  margin-left: 5%;
  font-size: 15px;
}
.active {
  border-radius: 10px;
  background-color: rgb(235, 251, 252);
  border-bottom: 2px solid rgb(170, 209, 253);
}

.forget {
  margin-top: 4%;
  font-size: 11px;
  text-align: end;
}

.forget:hover {
  color: red;
  cursor: pointer;
}

.butt {
  margin-top: 8%;
  margin-left: 28%;
}

button {
  padding: 5% 22% 5% 22%;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid rgb(51, 147, 237);
  font-weight: bold;
}

button:hover {
  background-color: rgb(253, 250, 250);
  color: blue;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

.acc-register p {
  font-size: 13px;
  text-align: center;
  margin-top: 8%;
}

.acc-register a {
  color: blue;
}

.error {
  position: absolute;
  font-size: 12px;
  color: red;
  padding-left: 1.5%;
  font-family: 'Times New Roman', Times, serif;
}
