<app-adminHeader></app-adminHeader>
<div class="head">
  <i class="fa-solid fa-3x fa-circle-arrow-left" routerLink="/users" ></i>
  <h1>Personal details</h1>
</div>
<div class="grid">
  <div  class="gridFirst">
   <p class="one">First name :</p>
   <p class="one">Last name:</p>
   <p class="one">Date of birth:</p>
   <p class="one">Age:</p>
   <p class="one">Father name:</p>
   <p class="one">Father oocupation:</p>
   <p class="one">Mother name:</p>
   <p class="one">Mother occupation:</p>
   <p class="one">Annual CTC:</p>
   <p class="one">Sex:</p>
   <p class="one">Blood group:</p>
   <p class="one">Phone number:</p>
<p class="one">Address:</p>
</div>
  <div class="gridSecond">
   <p class="two">{{detailOne.firstname}}</p>
   <p class="two">{{detailOne.lastname}}</p>
   <p class="two">{{detailOne.dob}}</p>
   <p class="two">{{detailOne.age}}</p>
   <p class="two">{{detailOne.fathername}}</p>
   <p class="two">{{detailOne.fatheroccupation}}</p>
   <p class="two">{{detailOne.mothername}}</p>
   <p class="two">{{detailOne.motheroccupation}}</p>
   <p class="two">{{detailOne.ctc}}</p>
   <p class="two">{{detailOne.sex}}</p>
   <p class="two">{{detailOne.bloodgrp}}</p>
   <p class="two">{{detailOne.Phoneno}}</p>
   <p class="two">{{detailOne.address}}</p>
  </div>
</div>
<br>
<br>
<!-- <button (click)="detailOneUpdate()">Update</button> -->
<h1>Study details</h1>
<br>
<h2>SSLC</h2>
<br>
<div class="grid">
  <div class="gridFirst">
   <p class="one">Register NO:</p>
   <p class="one">School Name:</p >
   <p class="one">SSLC mark:</p >
   <p class="one">Year of passing:</p>
   <p class="one">Marksheet No:</p >
   <p class="one"> School district:</p >
   <p class="one"> SSLC percentage:</p>
  </div>
  <div class="gridSecond">
    <p class="two" >{{detailTwo.sslcregNo}}</p>
    <p class="two" >{{detailTwo.SSLCschoolName}}</p >
    <p class="two" >{{detailTwo.SSLCMark}}</p  >
    <p class="two" >{{detailTwo.SSLCyearOfPassing}}</p  >
    <p class="two" >{{detailTwo.SSLCmarksheetNo}}</p  >
    <p class="two" >{{detailTwo.SSLCDistrict}}</p  >
    <p class="two" >{{detailTwo.SSLCPercentage}}</p  >

  </div>
</div>
<br><br>
<h2>HSC</h2>
<br>
<div class="grid">
  <div class="gridFirst">
    <p class="one">Register NO:</p >
    <p class="one">School Name:</p >
    <p class="one">HSC mark:</p>
    <p class="one">Year of passing:</p >
    <p class="one">Marksheet No:</p>
    <p class="one">School district:</p>
    <p class="one">HSC percentage:</p>
  </div>
  <div class="gridSecond">
    <p class="two">{{detailTwo.hscregNo}}</p >
    <p class="two">{{detailTwo.HSCschoolName}}</p >
    <p class="two">{{detailTwo.HSCMark}}</p >
    <p class="two">{{detailTwo.HSCyearOfPassing}}</p >
    <p class="two">{{detailTwo.HSCmarksheetNo}}</p >
    <p class="two">{{detailTwo.HSCDistrict}}</p >
    <p class="two">{{detailTwo.HSCPercentage}}</p>
  </div>
</div>
<br><br>
<h2>COLLEGE</h2>
<br>
<div class="grid">
  <div class="gridFirst">
    <p class="one">Course:</p>
   <p class="one"> Register no:</p >
   <p class="one">College name:</p >
   <p class="one">Current semester:</p >
   <p class="one">Year of passing:</p>
   <p class="one">Pincode:</p >
   <p class="one">Department name:</p >
   <p class="one">Current CGPA:</p >
   <p class="one">Current year:</p >
   <p class="one">Backlogs:</p >
   <p class="one">College district:</p >
   <p class="one">Address:</p >

  </div>
  <!-- {{detailTwo|json}} -->
  <div class="gridSecond">

   <p class="two">{{detailTwo.course}}</p >
   <p class="two">{{detailTwo.collegeregNo}}</p >
   <p class="two">{{detailTwo.clgName}}</p >
   <p class="two">{{detailTwo.sem}}</p >
   <p class="two">{{detailTwo.CLGyearOfPassing}}</p >
   <p class="two">{{detailTwo.pincode}}</p >
   <p class="two">{{detailTwo.deptName}}</p >
   <p class="two">{{detailTwo.cgpa}}</p >
   <p class="two">{{detailTwo.currentYear}}</p >
   <p class="two">{{detailTwo.backlogs}}</p >
   <p class="two">{{detailTwo.CLGDistrict}}</p >
   <p class="two">{{detailTwo.address}}</p >
  </div>
</div>
<!-- <button>Update</button> -->
<br><br>

<h1>Account details</h1>
<br>
<div class="grid">
  <div class="gridFirst">
<p class="one" >Bank name:</p >
<p class="one" > Branch name:</p >
<p class="one" >Account no:</p  >
<p class="one" > MICR code:</p >
<p class="one" > IFSC code:</p >
<p class="one" >Phone no:</p >
<p class="one" > AMT reguired * (As per the fees structure):</p>
<p class="one">Original documents link:</p>
  </div>
  <div class="gridSecond">
<p class="two">{{detailThree.bankname}}</p >
<p class="two">{{detailThree.branchname}}</p >
<p class="two">{{detailThree.acccountnum}}</p >
<p class="two">{{detailThree.micr}}</p >
<p class="two">{{detailThree.ifsc}}</p >
<p class="two">{{detailThree.phone}}</p >
<p class="two">{{detailThree.Amount}}</p >
  <p class="two">{{detailThree.original}}</p>
  </div>
</div>
<br>
<br>
<div class="butt">
  <button id="approve" (click)="approve()">Approve</button>

  <div class="dentile" [formGroup]="cancelForm">
    <input type="text" placeholder="Enter the denied messages.. " formControlName="message" style="width: 100%;">
  </div>
  <button id="denied" (click)="denied()">Denied</button>
</div>


