<app-header></app-header>
<link rel="stylesheet" href="DocumentForm.component.css">
<div class="documents">
  <h1>Documents</h1>
  <p>Birth certificate PDF:</p>
  <input type="file" name="" id="">
  <p>Aadhar card PDF:</p>
  <input type="file" name="" id="">
  <p>PAN card PDF:</p>
  <input type="file" name="" id="">
  <p>Income certificate PDF:</p>
  <input type="file" name="" id="">
  <p>Native sertificate PDF:</p>
  <input type="file" name="" id="">
  <p></p>
  <input type="file" name="" id="">
  <p></p>
  <input type="file" name="" id="">

</div>
