<div class="grid">
  <div class="gridcontent-first">
    <button routerLink="/users" routerLinkActive="actived">Users&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </button>
    <button routerLink="/personal">Personal Details &nbsp;  </button>
    <br>
    <button routerLink="/study">Study Details &nbsp; &nbsp; &nbsp; </button>
    <br>
    <button routerLink="/account">Account Details &nbsp; </button>
    <br>
    <button routerLink="/loan">Loan Details &nbsp; &nbsp; &nbsp; &nbsp; </button>
    <br>
  </div>
</div>

