<!-- <app-sideNav></app-sideNav> -->
<app-header></app-header>
<div class="grid">
  <div class="engineering-content">
    <h1>Engineering</h1>
    <br />
    <br />
    <h2>Description</h2>
    <br />
    <div class="description">

      <div class="description-content">
        <p>
          An engineering education loan is a type of financial aid program that
          provides funds to students who are pursuing undergraduate or graduate
          degrees in engineering. These loans are designed to cover the cost of
          tuition, fees, textbooks, and other related expenses associated with
          engineering education. <br />

          Engineering education loans are available from a variety of sources,
          including federal and state governments, private lenders, and
          educational institutions themselves. Some of the most common sources of
          engineering education loans include Stafford and Perkins loans, which
          are federally funded loans available to students who demonstrate
          financial need.
          <br />
        </p>

      </div>
      <div class="description-img">
        <img src="../../assets/Images/engineering1.png" alt="" width="300px" style="border-radius: 670px;">
      </div>
    </div>
    <br />
    <h2>Loan details</h2>
    <div class="loan-details">
      <p>
        <br />
        Engineering education loans are a type of financial aid that helps
        students pay for their undergraduate or graduate education in
        engineering. Here are some key details about engineering education
        loans: <br />
        <br />
      </p>
      <div class="loandetails-content">
        <div class="loantype-img">
          <img src="../../assets/Images/types loan.png" alt="" width="400px" />
        </div>
        <div class="loantypes">
          <p>
            <b> Types of Loans:</b> There are two types of engineering education
            loans - federal loans and private loans. Federal loans include
            Stafford loans and Perkins loans, which are offered by the
            government. Private loans are offered by banks, credit unions, and
            other financial institutions.
<br>
            <b> Eligibility:</b> To qualify for federal loans, students must
            complete the Free Application for Federal Student Aid (FAFSA) and
            demonstrate financial need. Private loans typically require a credit
            check and may also require a co-signer.
          </p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="loan-interest">
        <div class="interest-content">
          <p>
            <b> Interest Rates:</b> The interest rates for engineering education
          loans can vary widely depending on the type of loan and the lender.
          Federal loans generally have lower interest rates than private loans.

<br>
          <b>Repayment:</b> Repayment of engineering education loans typically
          begins after the student graduates or leaves school. Federal loans
          offer various repayment options, including income-driven repayment
          plans, which can be based on the borrower's income and family size.
          Private loans may offer different repayment options and may have less
          flexibility than federal loans.
<br>


          <b>Loan Limits: </b> The amount of money that students can borrow
          through engineering education loans is limited. Federal loans have
          annual and lifetime limits, while private loan limits may vary by
          lender.


          </p>


        </div>
        <div class="interest-img">
          <img src="../../assets/Images/avoid-loan.png" alt="" width="400px" />
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="loan">
        <div class="loan-img">
         <img src="../../assets/Images/description1.webp" alt="" width="300px">
        </div>
        <div class="loan-content">
          <p> <b>Application Process: </b> To apply for engineering education loans,
            students must complete the appropriate loan application and provide any
            required documentation. The application process can vary depending on the
            type of loan and the lender. <br />
            <br />
            <b> Co-Signer:</b> Private loans may require a co-signer who is
            responsible for repaying the loan if the borrower is unable to do so.
            <br /></p>

        </div>
      </div>


      <br />
      <p> It's important for students to carefully consider the terms and conditions
        of engineering education loans before borrowing. Students should also
        explore other sources of financial aid, such as scholarships and grants,
        before turning to loans.</p>
    </div>
    <br>
    <h2>
      Loan apply
    </h2>
    <div class="loan-apply">
      <p>If you interest to get loan..!</p>
      <br>
      <span>Click here</span>
      <br>
      <br>
      <!-- <i class="fa-solid fa-square-down"></i><i class="fa-regular fa-square-down"></i><i class="fa-light fa-down"></i> -->
      <button (click)="next()"  [routerLink]="'/personaldetails'">Apply now</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
