

/* Apply CSS to the <h2> element inside a <form> element */
form h2 {
  /* CSS styles for the <h2> element inside a <form> element */
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 25px;

  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(127, 157, 255);
  text-align: center;
}
.error {
  /* Add styles for error messages */
  /* margin-left: 10%; */
  position: absolute;
  font-size: 10px;
  color: red;
}
/* Apply CSS to elements with the class "grid" */
.grid {
  /* Add styles for the grid container */
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 20px;
  margin-left: 8%;
}

/* Apply CSS to the first column of elements inside a grid */
.grid-first {
  /* CSS styles for the first column of elements inside a grid */
}

/* Apply CSS to the second column of elements inside a grid */
.grid-second {
  /* CSS styles for the second column of elements inside a grid */
}

/* Apply CSS to <label> elements */
label {
  /* CSS styles for <label> elements */
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 2%;
}

/* Apply CSS to <input> elements */
input {
  /* CSS styles for <input> elements */
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
input[type="checkbox"]{
  width: 1%;
  margin: 2%;
}
.terms{
  display: flex;
}
.terms p{
  margin: 1%;
}

/* Apply CSS to elements with the class "butt" */
.butt {
  /* CSS styles for elements with the class "butt" */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  /* Add styles for buttons */
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 45%;
}

button:disabled {
  /* Add styles for disabled buttons */
  background-color: #ccc;
  cursor: not-allowed;
}
