<app-header></app-header>
<div class="s">
  <h2>CONTACT US</h2><br><br>
  <p>Explain why someone should contact your Bank. Describe how your Bank can help solve the visitors' problems</p>
</div>
<div class="x">
  <div class="y1">
     <img src="../../assets/Images/phone.png" alt="" width="30px">
      <h2>Phone Numbers</h2>
      <p>+91 8610209535</p>
      <p>+91 6382523219</p>
      <p> Toll free: 94899-22628</p>
  </div>
  <div class="y1">
   <img src="../../assets/Images/email.png" alt="" width="40px">
   <h2>Email</h2>
   <p> <a href="#">crazysanty007@gmail.com</a> </p>
  </div>
  <div class="y1">
    <img src="../../assets/Images/lo.png" alt="" width="30px">
    <h2>Address</h2>
    <p>Regus - San Tan Corporate <br>
      Center II,
      <br>
      3100 West Ray Road,<br>
      Suite 201, Chandler,<br>
      Arizona, 85226</p>
  </div>
</div>
<div class="s">
  <h2 style="font-size: 35px;">Drop A Message For Any Query</h2><br><br>
 <p>Explain why someone should contact your Bank. Describe how your Bank can help solve the visitors' problems</p>
</div>
<div class="form">
  <input type="text" placeholder="Your Name" id="name" class="hover">
  <input type="email" placeholder="Your Email" id="email" class="hover">
  <br>
  <input type="text" placeholder="Your Phone" id="phone" class="hover">
  <input type="text" placeholder="Subject" class="hover">
  <br>
  <textarea name="Meassge" id=" Meassge" cols="150" rows="5" placeholder="Message"></textarea>
  <br>
  <button>Send Message</button>
</div>
<app-footer></app-footer>
