<!-- <app-sideNav></app-sideNav> -->
<app-header></app-header>
<div class="grid">
  <div class="engineering-content">
    <h1>Agriculture</h1>
    <br />
    <br />
    <h2>Description</h2>
    <br />
    <div class="description">
      <div class="description-img">
        <img
          src="../../assets/Images/agriculture1.png"
          alt=""
          width="300px"
          height="250px"
        />
      </div>
      <div class="description-content">
        <p>
          Agriculture education loans are specialized loans that are designed to
          help students pursue higher education in the field of agriculture.
          These loans are typically offered by banks, credit unions, and other
          financial institutions, and they are intended to cover the costs of
          tuition, books, fees, and other educational expenses associated with
          pursuing a degree or certification in agriculture. <br />

          Agriculture education loans often have lower interest rates and longer
          repayment terms than other types of loans, which makes them more
          affordable for students who are studying agriculture. These loans may
          also offer flexible repayment options, such as deferred repayment,
          interest-only payments, and income-based repayment plans.
          <br />
        </p>
      </div>
    </div>
    <br />
    <h2>Loan details</h2>
    <div class="loan-details">
      <p>
        <br />
        An agriculture education loan is a type of loan that is designed to
        provide financial assistance to individuals who want to pursue higher
        education or training in the field of agriculture. This type of loan can
        cover tuition fees, accommodation expenses, and other related costs,
        such as books and equipment.
        <br />
        <br />
      </p>
      <div class="loandetails-content">
        <div class="loantype-img">
          <img src="../../assets/Images/types loan.png" alt="" width="400px" />
        </div>
        <div class="loantypes">
          <p>
            <b> Types of Loans:</b> There are two types of agriculture education
            loans - federal loans and private loans. Federal loans include
            Stafford loans and Perkins loans, which are offered by the
            government. Private loans are offered by banks, credit unions, and
            other financial institutions.
            <br />
            <b> Eligibility:</b> To be eligible for an agriculture education
            loan, you must be an Indian citizen and have secured admission to a
            recognized agriculture course in India or abroad.
          </p>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="loan-interest">
        <div class="interest-content">
          <p>
            <b> Interest Rates:</b> The interest rates for engineering education
            loans can vary widely depending on the type of loan and the lender.
            Federal loans generally have lower interest rates than private
            loans.

            <br />
            <b>Repayment:</b>The interest rate for agriculture education loans
            may vary from lender to lender. It is usually lower than the
            interest rates for other types of loans. Federal loans offer various
            repayment options, including income-driven repayment plans, which
            can be based on the borrower's income and family size. Private loans
            may offer different repayment options and may have less flexibility
            than federal loans.
            <br />

            <b>Loan Amount: </b> The loan amount may vary depending on the
            course and the institution. Most lenders offer agriculture education
            loans up to Rs. 20 lakhs.
          </p>
        </div>
        <div class="interest-img">
          <img src="../../assets/Images/avoid-loan.png" alt="" width="400px" />
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="loan">
        <div class="loan-img">
          <img
            src="../../assets/Images/description1.webp"
            alt=""
            width="300px"
          />
        </div>
        <div class="loan-content">
          <p>
            <b>Documents Required: </b> The documents required for an
            agriculture education loan may include proof of admission, mark
            sheets, income proof of parents or guardians, identity proof, and
            address proof. <br />
            <br />
            <b> Collateral:</b> Most lenders require collateral to secure the
            loan. The collateral may be in the form of property, land, fixed
            deposits, or any other assets.
            <br />
          </p>
        </div>
      </div>

      <br />
      <p>
        It's important for students to carefully consider the terms and
        conditions of engineering education loans before borrowing. Students
        should also explore other sources of financial aid, such as scholarships
        and grants, before turning to loans.
      </p>
    </div>
    <br />
    <h2>Loan apply</h2>
    <div class="loan-apply">
      <p>If you interest to get loan..!</p>
      <br />
      <span>Click here</span>
      <br />
      <br />
      <!-- <i class="fa-solid fa-square-down"></i><i class="fa-regular fa-square-down"></i><i class="fa-light fa-down"></i> -->
      <button>Apply now</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
