<app-header></app-header>
<div class="pop-up-container" *ngIf="popup">
  <i class="fas fa-times" (click)="closepopup()" ></i>
  <div class="pop-up-content">
  <h1>Hai !! Thank you for visiting our website <i class="fa-sharp fa-solid fa-face-laugh"></i></h1><br>
  <h2 class="heading">“We learn from failure, not from success!”</h2>
  <br><h3><br><br> Please view the loan services and enjoy reading</h3>
  <button>Get started </button>
</div>
</div>
<div class="homeImg">
  <img src="../../assets/Images/green.png" alt="">
  <div class="homecontent">
      <p>Let Your Dreams Take Flight With ELMS <br> Education Loan! <br>
          <span> Education is the passport to the future for tomorrow belongs to those who prepare for it today.
              <br>
              A man's mind, stretched by new ideas, may never return to its original dimensions
          </span>
      </p>
      <button  routerLink="/service"><span>Explore</span></button>
  </div>
</div>
<p class="homeStudyplans">GET AN EDUCATION LOAN FOR ABROAD STUDY PLANS</p>
<div class="homeStudyimg">
  <div class="homeStudycontent" id="countries">
      <p>Education loan <br>for <br> <span class="s" data-val="22"> 12</span>+ <br> countries</p>
      <img src="../../assets/Images/location.png" alt="">
  </div>
  <div class="homeStudycontent" id="universities">
      <p>Tie-ups <br>with <br><span class="s" data-val="400">25</span>+<br> universities</p>
      <img src="../../assets/Images/university.png" alt="">
  </div>
  <div class="homeStudycontent" id="Recognized">
      <p> <span class="s" data-val="200">10</span>+<br> <br> Courses <br> Recognized </p>
      <img src="../../assets/Images/course.png" alt="">
  </div>
  <div class="homeStudycontent" id="students">
      <p><span class="s" data-val="100"> 300</span>+ <br> <br>
          Students <br>already <br>funded</p>
      <img src="../../assets/Images/student.png" alt="">
  </div>
</div>
<div class="a12">
  <div class="homeAdvantagetitle">
      <p>The ELMS advantage</p>
  </div>
  <div class="homeadvantagecontent">
      <div class="santy1">
          <div class="advantage">
              <img src="../../assets/Images/icon1.png" alt="">
              <p>100% Finance for abroad studies. Covers course fee, travel, living & other costs.</p>
          </div>
          <div class="advantage">
              <img src="../../assets/Images/icon2.png" alt="">
              <p>Secured Loan Options</p>
          </div>
          <div class="advantage">
              <img src="../../assets/Images/icon3.png" alt="">
              <p>Loan Sanction within 72hrs</p>
          </div>
      </div>
      <div class="santy2">
          <div class="advantage">
              <img src="../../assets/Images/icon4.png" alt="">
              <p>Attractive Interest Rate starting from 9.5% and Processing fees 1% onward</p>
          </div>
          <div class="advantage" id="advantage">
              <img src="../../assets/Images/icon5.png" alt="">
              <p>Flexible Repayment Options</p>
          </div>

          <div class="advantage" id="advantage">
              <img src="../../assets/Images/icon6.png" alt="">
              <p>Loan tenure up to 15 years</p>
          </div>
      </div>
  </div>
</div>
<div class="a20">
  <p class="p">Opt for a student loan today, and give yourself a <br>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; bright future tomorrow!</p>
  <a><button routerLink="/service">Apply now</button></a>
  <p class="p1">ELMS (India) Pvt. Ltd.
      1/D-1, SIPCOT IT PARK
      Siruseri, Chennai - 603 103
      Tamil Nadu, India
      Fax: +91-44-6740 4234</p>
</div>

<app-footer></app-footer>
