*{
  overflow-y: hidden;
}
.homeImg{
  display: flex;
    align-items: center;
}
.homeImg img{
  width:38%;
  margin-left: 8%;
}
.homecontent {
  font-size: 30px;
  margin-bottom: 6%;
  margin-left: 1%;
}
span{
  font-size: 15px;
}
button{
  margin-top: 5%;
  padding: 2% 10% 2% 10%;
  border-radius: 25px;
  background-color: rgb(51, 147, 237);
  border: none;
}
button:hover{
  background-color: rgb(164, 194, 235)
}
.homeStudyplans{
  font-weight: 800;
  font-size: 25px;
  color: black;
  margin-left: 14%;
}
.homeStudyimg{
  display: flex;
  justify-content:center;
  margin-top: 4%;
}
.homeStudycontent{
  display: flex;
    margin-left: 1%;
}
#countries{
  background-color:  #dbb54d;
  border-radius: 10px;
  padding: 3%;
}
#universities{
  background-color:  #9ce24d;
  border-radius: 10px;
  padding: 3%;
}
#Recognized{
  background-color:  hsl(202, 52%, 54%);
  border-radius: 10px;
  padding: 3%;
}
#students{
  background-color:  #2a7883;
  border-radius: 10px;
  padding: 3%;
}
.homeStudycontent p{

    padding: 2%;
   font-size: 20px;
}
.s{
  font-weight: 600;
  color: black;
  font-size: 25px;
}
.a12{
  margin-top: 5%;
  padding: 3%;
  /* position: fixed; */
  /* background-color: #f3f2f2; */
}
.a12:hover{
  background-color: rgb(160, 201, 239);
}
.homeAdvantagetitle{
  font-weight: bolder;
  font-size: 25px;
  margin-left: 4%;
/* margin-bottom: 5%; */
  transition: 1s;
  /* position: absolute; */
}
.homeAdvantagetitle:hover{
  padding-left: 2%;
  font-size: 30px;
}
.homeadvantagecontent{
  display: flex;
  justify-content: space-evenly;
}
.santy2{
  margin-left: 2% ;
  margin-top: 3px;
}
/* #advantage{
  margin-top: 10px;
} */
.advantage {
  display: flex;
  align-items: flex-start;
  padding: 3%;
  font-size: 20px;
  border-bottom: 1px solid rgb(12, 12, 12);
}
.advantage img{
 margin-right: 3%;
}

.a20 p{
  display: flex;
   justify-content: center;
   margin-top: 4%;
}
.p{
  font-weight: bolder;
  font-size: 30px;
}
.p1
{
  font-weight: bold;
  font-size: 20px;
}
.a20 button{
  margin-left:37%;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;

}
footer{
  margin-top: 3%;
  display: flex;
  background-color: rgb(128, 124, 124);
  padding-top: 1%;
  /* justify-content:; */
}
.advantage{
  display: flex;
   padding-left: 10%;
}
.copyRightnav,.copyRightimg{
   padding-left: 14% ;
}
.copy p{
  padding-top: 5%;
}
.copyRightnav{
  padding-top: 7px;
}
.copyRightnav a{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.copyRightimg img:hover {
  background-color: aliceblue;
  border-radius: 5px;
}
.gototop

{
  margin-left: 10%;
  /* margin-bottom: 2%; */
  padding: 15px;
  background-color:rgb(255, 255, 255) ;
  border-radius: 35px;
}


@media (max-width: 768px) {
  .homeImg {
    flex-direction: column;
    align-items: center;
  }
  .homeImg img {
    width: 80%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .homecontent {
    font-size: 20px;
    text-align: center;
    margin-left: 0;
  }
  .homeStudyplans {
    font-size: 20px;
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .homeStudyimg {
    flex-direction: column;
    align-items: center;
  }
  .homeStudycontent {
    margin: 10px 0;
  }
  .homeStudycontent p {
    text-align: center;
    font-size: 18px;
  }
  .s {
    font-size: 20px;
  }
  .a12 {
    margin-top: 10px;
  }
  .homeAdvantagetitle {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }
  .homeadvantagecontent {
    flex-direction: column;
    align-items: center;
  }
  .advantage {
    padding: 2% 0;
  }
  .a20 p {
    font-size: 20px;
    text-align: center;
  }
  .p1 {
    font-size: 16px;
  }
  .a20 button {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .homecontent {
    font-size: 18px;
  }
  button {
    padding: 2% 5%;
  }
  .homeStudycontent p {
    font-size: 16px;
  }
  .s {
    font-size: 18px;
  }
  .homeAdvantagetitle {
    font-size: 18px;
  }
  .p {
    font-size: 24px;
  }
  .p1 {
    font-size: 14px;
  }
  .a20 button {
    font-size: 18px;
  }
}
.pop-up-container {
  width: 50%;
  height: 40vh;
  background: #bed1ed;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
  border-radius: 20px;
  position: fixed;
}

.pop-up-container .fa-times{
  float: right;
  padding: 2.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(165, 42, 42, 0.622);
}

.pop-up-container .fa-times:hover{
  color: red;
}
.pop-up-container .pop-up-content h1 {
  padding-top: 5rem;
  color: #503730;


}

.pop-up-content h3 {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(165, 42, 42, 0.622);
}
