
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.gridFirst {
  background-color: #eeeeee;
  padding: 20px;
  margin: 5%;
  border-radius: 25px;
}
.gridFirst h1{
  margin-left: 35%;
  color: blue;
}
.acc{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
}
.acc1{
  font-weight: bold;
  text-align: end;
}
.gridSecond {
  background-color: #eeeeee;
  padding: 20px;
    margin: 5%;
  border-radius: 25px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.click {
  margin-top: 10px;
}

.click span {
  font-size: 14px;
}

.click a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin: 10px 0;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.profile button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.profileDetails .details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profileDetails .details i {
  margin-right: 5px;
}

.profileDetails .details p {
  margin: 0;
}

.details p {
  font-size: 16px;
}



.account{
  margin-left: 35%;
  margin-top: 10%;
  padding: 3%;
  border: none;
  border-radius: 20px;
  box-shadow:  2px 3px 62px -12px rgba(0,0,0,0.75);
  background-color: azure;
}
.account::backdrop{
  background-color: rgb(77, 74, 74);
  opacity: 0.6;
}
.account button{
  padding: 2% 30% 2% 30%;
  margin-left: 15%;
}
.account button:hover{
  background-color: rgb(143, 199, 247);
}
.account h1{
  text-align: center;
}
.account .form{
  margin-top: 3%;
  display: grid;
  grid-template-columns: 40% 60%;

}
.account.form label{
  text-align: end;
  /* margin-right: 13%; */
}
.update{
  margin-left: 35%;
  margin-top: 10%;
  padding: 3%;
  border: none;
  border-radius: 20px;
  box-shadow:  2px 3px 62px -12px rgba(0,0,0,0.75);
  background-color: rgb(178, 222, 242);

}
.update::backdrop{
  background-color: rgb(77, 74, 74);
  opacity: 0.6;
}
.update button{
  margin-left: 5%;
}
.butt{
  margin-top: 5%;
  margin-left: 27%;
  display: flex;
}
.update button:hover{
  background-color: rgb(143, 199, 247);
}
.update h1{
  text-align: center;
}

.form{
  margin-top: 3%;
  display: grid;
  grid-template-columns: 30% 65%;

}
.form label{
  text-align: end;
  margin-right: 13%;
}
.back button{
  padding: 2% 32% 2% 32%;
}

.loanStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@keyframes moveAnimation {
  0% { transform: translateX(0); }
  50% { transform: translateX(350px); }
  100% { transform: translateX(0); }
}

.approval-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 150vh; */
  font-family: Arial, sans-serif;
  text-align: center;
}

.approval-icon {
  font-size: 60px;
  color: #3cbc8d;
  animation: moveAnimation 2s ease-in-out ;
}

.approval-icon1 {
  font-size: 60px;
  color: #ff0000;
  animation: moveAnimation 2s ease-in-out ;
}
.approval-text {
  font-size: 24px;
  color: #333;
  margin-left: 10px;
}
.message{
  text-align: center;
  font-weight: bolder;
  /* transform: translateY(-310px); */
}
