.registerDiv{
   height: 100%;
  width: 100%;
}
.registerModel{
  display: flex;
   /* justify-content: center; */
  /* margin-top: 10%;
  margin-bottom: 10%; */
  margin: 2% 40%;
  padding: 3% ;
  /* background-color: aquamarine; */
  width: fit-content;
  /* border: 2px solid black; */
  box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.75);
}
::placeholder{
  font-family: 'Times New Roman', Times, serif;
}
.Registerusername{
  margin-top: 15%;
  display: flex;
}
.head-content{
  margin-left: 30%;
}
.exit{
  float: right;
  /* margin-left: 0%; */
}
.exit:hover{
  color: red;
  padding: 1%;
  cursor: pointer;
}
input
{
  border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
  /* padding-left: 5% ; */
  /* margin-top: 2%; */
    margin-left: 5%;
    font-size: 15px;

}
h2{
  text-align: center;
}
.registerconfirm{
 margin-left: 33%;
 margin-top:10%;
}
button{
  padding: 5%;
  cursor: pointer;
  border: none;
  position: relative;
  border-bottom: 2px solid rgb(51, 147, 237);
  font-weight: bold;
}
button:hover{
  background-color: rgb(253, 250, 250);
  color: blue;


}
.error{
  position: absolute;
  font-size: 12px;
  color: red;
  padding-left: 1.5%;
  font-family: 'Times New Roman', Times, serif;
  /* padding-bottom: 3%; */
}

.photo{
  margin-top: 3%;
  display: flex;
}
textarea{
  outline: 0;
  padding-left: 3%;
}
p{
  color: rgb(89, 90, 91);
}
